[user]
	email = 154992563+TheBagomes@users.noreply.github.com
	name = OBagomes
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
